src/main/resources/wsdl/sap/zcomercial.wsdl

<?xml version="1.0" encoding="utf-8"?><wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__ZCOMERCIAL">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__ZCOMERCIAL_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__ZCOMERCIAL">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>005056BC19BB1EE8BDE8163FC65578BC</sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ZSD_WS_COMERCIAL_RESERVAR">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char200">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="curr15.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="15"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ZID_RESERVA">
                <xsd:sequence>
                    <xsd:element name="SUCCESS" type="tns:char1"/>
                    <xsd:element name="MESSAGE" type="tns:char200"/>
                    <xsd:element name="VBELN" type="tns:char10"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZSD_WS_COMERCIAL_RESERVAR">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="V_KUNNR" type="tns:char10"/>
                        <xsd:element name="V_LOTE" type="tns:char10"/>
                        <xsd:element name="V_MATNR" type="tns:char40"/>
                        <xsd:element name="V_NETWR" type="tns:curr15.2"/>
                        <xsd:element name="V_PLAZO" type="tns:char3"/>
                        <xsd:element name="V_VENTA" type="tns:char4"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZSD_WS_COMERCIAL_RESERVARResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="OUTPUT" type="tns:ZID_RESERVA"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZSD_WS_COMERCIAL_RESERVAR">
        <wsdl:part name="parameters" element="tns:ZSD_WS_COMERCIAL_RESERVAR"/>
    </wsdl:message>
    <wsdl:message name="ZSD_WS_COMERCIAL_RESERVARResponse">
        <wsdl:part name="parameter" element="tns:ZSD_WS_COMERCIAL_RESERVARResponse"/>
    </wsdl:message>
    <wsdl:portType name="ZCOMERCIAL">
        <wsdl:documentation>
            <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
                <sapdoc:docitem docURL="http://glf-qas.dcloud.com.bo:8077/sap/bc/esdt/docu/sd_text?sap-client=200&amp;sd_name=ZCOMERCIAL"/>
            </sapdoc:sapdoc>
        </wsdl:documentation>
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__ZCOMERCIAL"/>
        </wsp:Policy>
        <wsdl:operation name="ZSD_WS_COMERCIAL_RESERVAR">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZSD_WS_COMERCIAL_RESERVAR"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZSD_WS_COMERCIAL_RESERVAR"/>
            <wsdl:output message="tns:ZSD_WS_COMERCIAL_RESERVARResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZCOMERCIAL" type="tns:ZCOMERCIAL">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZCOMERCIAL"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZSD_WS_COMERCIAL_RESERVAR">
            <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZCOMERCIAL:ZSD_WS_COMERCIAL_RESERVARRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ZCOMERCIAL_soap12" type="tns:ZCOMERCIAL">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZCOMERCIAL_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZSD_WS_COMERCIAL_RESERVAR">
            <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZCOMERCIAL:ZSD_WS_COMERCIAL_RESERVARRequest" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZCOMERCIAL">
        <wsdl:port name="ZCOMERCIAL" binding="tns:ZCOMERCIAL">
            <soap:address location="http://glf-qas.dcloud.com.bo:8077/sap/bc/srt/rfc/sap/zcomercial/200/zcomercial/zcomercial"/>
        </wsdl:port>
        <wsdl:port name="ZCOMERCIAL_soap12" binding="tns:ZCOMERCIAL_soap12">
            <wsoap12:address location="http://glf-qas.dcloud.com.bo:8077/sap/bc/srt/rfc/sap/zcomercial/200/zcomercial/zcomercial"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>