src/main/resources/wsdl/tigomoney/CustomerServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.vlink.com.bo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.vlink.com.bo/">

<xs:element name="consultarEstado" type="tns:consultarEstado"/>

<xs:element name="consultarEstadoResponse" type="tns:consultarEstadoResponse"/>

<xs:element name="revertirPago" type="tns:revertirPago"/>

<xs:element name="revertirPagoResponse" type="tns:revertirPagoResponse"/>

<xs:element name="solicitarPago" type="tns:solicitarPago"/>

<xs:element name="solicitarPagoAsincrono" type="tns:solicitarPagoAsincrono"/>

<xs:element name="solicitarPagoAsincronoResponse" type="tns:solicitarPagoAsincronoResponse"/>

<xs:element name="solicitarPagoResponse" type="tns:solicitarPagoResponse"/>

<xs:complexType name="revertirPago">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="parametros" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revertirPagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="solicitarPagoAsincrono">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="parametros" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="solicitarPagoAsincronoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarEstado">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="parametros" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarEstadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="solicitarPago">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="parametros" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="solicitarPagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>